<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-primary text-white">
            <h4>Patient Admission</h4>
        </div>

        <div class="card-body">

            <!-- Patient -->

            <div class="mb-3">

                <label class="form-label">Patient</label>

                <select class="form-select" [(ngModel)]="admission.patientId">

                    <option [ngValue]="0">Select Patient</option>

                    <option *ngFor="let p of patients" [ngValue]="p.id">

                        {{p.patientCode}} - {{p.name}}

                    </option>

                </select>

            </div>

            <!-- Doctor -->

            <div class="mb-3">

                <label class="form-label">Doctor</label>

                <select class="form-select" [(ngModel)]="admission.doctorId">

                    <option [ngValue]="0">Select Doctor</option>

                    <option *ngFor="let d of doctors" [ngValue]="d.id">

                        {{d.name}}
                        ({{d.specialization}})

                    </option>

                </select>

            </div>

            <!-- Ward -->

            <div class="mb-3">

                <label class="form-label">Ward</label>

                <select class="form-select" #ward (change)="onWardChange(+ward.value)">

                    <option value="0">Select Ward</option>

                    <option *ngFor="let w of wards" [value]="w.id">

                        {{w.name}}
                        ({{w.roomType}})

                    </option>

                </select>

            </div>

            <!-- Bed -->

            <div class="mb-3">

                <label class="form-label">Bed</label>

                <select class="form-select" [(ngModel)]="admission.bedId">

                    <option [ngValue]="0">Select Bed</option>

                    <option *ngFor="let b of beds" [ngValue]="b.id">

                        {{b.bedNumber}}
                        -
                        {{b.totalDailyCost}} Tk/Day

                    </option>

                </select>

            </div>

            <!-- Diagnosis -->

            <div class="mb-3">

                <label class="form-label">
                    Initial Diagnosis
                </label>

                <textarea class="form-control" rows="4" [(ngModel)]="admission.initialDiagnosis">

                </textarea>

            </div>

            <!-- Button -->

            <button class="btn btn-success" (click)="admit()">

                Admit Patient

            </button>

        </div>

    </div>

</div>