<div class="container-fluid py-4" *ngIf="doctor">

    <div class="card shadow-lg border-0 rounded-4 mb-4 doctor-header">
        <div class="card-body">

            <div class="row align-items-center">

                <!-- Doctor Photo -->
                <div class="col-lg-2 text-center">
                    <img [src]="doctor.photo || 'assets/images/doctor.png'" class="doctor-photo">
                </div>

                <!-- Doctor Information -->
                <div class="col-lg-7">
                    <h2 class="fw-bold mb-1">Dr. {{ doctor.name }}</h2>

                    <h5 class="text-warning">
                        {{ doctor.designation }}
                    </h5>

                    <!-- <p class="mb-1">{{ doctor.specialization }}</p> -->

                    <p class="mb-0">
                        {{ doctor.departmentName }}
                    </p>
                </div>

                <!-- Status + Logout -->
                <div class="col-lg-3 text-end">

                    <span class="badge mb-3 fs-6" [ngClass]="doctor.status === 'ACTIVE' ? 'bg-success' : 'bg-danger'">

                        {{ doctor.status }}

                    </span>

                    <br>

                    <button class="btn btn-danger rounded-pill px-4" (click)="logout()">

                        <i class="bi bi-box-arrow-right me-2"></i>
                        Logout

                    </button>

                </div>

            </div>

        </div>
    </div>

    <!-- Header Card -->




    <!-- Statistics -->

    <div class="row g-4">

        <div class="col-md-3">

            <div class="card stat-card shadow">

                <div class="card-body">

                    <h6>Total Patients</h6>

                    <h2>145</h2>

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card stat-card shadow">

                <div class="card-body">

                    <h6>Today's Appointment</h6>

                    <h2>18</h2>

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card stat-card shadow">

                <div class="card-body">

                    <h6>Pending Reports</h6>

                    <h2>7</h2>

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card stat-card shadow">

                <div class="card-body">

                    <h6>Total Revenue</h6>

                    <h2>{{doctor.consultationFee}} ৳</h2>

                </div>

            </div>

        </div>

    </div>



    <!-- Information -->

    <div class="row mt-4">

        <div class="col-lg-6">

            <div class="card shadow border-0">

                <div class="card-header bg-primary text-white">

                    Personal Information

                </div>

                <div class="card-body">

                    <table class="table">

                        <tr>
                            <th>Email</th>
                            <td>{{doctor.email}}</td>
                        </tr>

                        <tr>
                            <th>Phone</th>
                            <td>{{doctor.phone}}</td>
                        </tr>

                        <tr>
                            <th>Gender</th>
                            <td>{{doctor.gender}}</td>
                        </tr>

                        <tr>
                            <th>Department</th>
                            <td>{{doctor.departmentName}}</td>
                        </tr>

                        <tr>
                            <th>Join Date</th>
                            <td>{{doctor.joinDate}}</td>
                        </tr>

                    </table>

                </div>

            </div>

        </div>



        <div class="col-lg-6">

            <div class="card shadow border-0">

                <div class="card-header bg-success text-white">

                    Professional Details

                </div>

                <div class="card-body">

                    <table class="table">

                        <tr>
                            <th>Study</th>
                            <td>{{doctor.study}}</td>
                        </tr>

                        <tr>
                            <th>Specialization</th>
                            <td>{{doctor.specialization}}</td>
                        </tr>

                        <tr>
                            <th>Experience</th>
                            <td>{{doctor.experienceYears}} Years</td>
                        </tr>

                        <tr>
                            <th>Consultation Fee</th>
                            <td>{{doctor.consultationFee}} ৳</td>
                        </tr>

                        <tr>
                            <th>Follow Up Fee</th>
                            <td>{{doctor.followUpFee}} ৳</td>
                        </tr>

                        <tr>
                            <th>Duty</th>
                            <td>{{doctor.availableDays}} | {{doctor.dutyHours}}</td>
                        </tr>

                    </table>

                </div>

            </div>

        </div>

    </div>

<div class="card mt-4 shadow">

    <div class="card-header bg-success text-white">

        <h5>Today's Appointments</h5>

    </div>

    <div class="card-body">

        <table class="table table-hover">

            <thead>

                <tr>

                    <th>Patient</th>

                    <th>Date</th>

                    <th>Time</th>

                    <th>Problem</th>

                    <th>Status</th>

                    <th></th>

                </tr>

            </thead>

            <tbody>

                <tr *ngFor="let appointment of appointments">

                    <td>{{appointment.patientName}}</td>

                    <td>{{appointment.appointmentDate}}</td>

                    <td>{{appointment.appointmentTime}}</td>

                    <td>{{appointment.problemDescription}}</td>

                    <td>

                        <span class="badge bg-success">

                            {{appointment.status}}

                        </span>

                    </td>

                    <td>

                        <button
                            class="btn btn-primary btn-sm"
                            (click)="writePrescription(appointment.id)">

                            Write Prescription

                        </button>

                    </td>

                </tr>

            </tbody>

        </table>

    </div>

</div>

    <!-- About -->

    <div class="card shadow border-0 mt-4">

        <div class="card-header bg-dark text-white">

            About Doctor

        </div>

        <div class="card-body">

            {{doctor.description}}

        </div>

    </div>

</div>